@import url('SopCss.css');
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.github-cards {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  padding: 5px;

}
.github-card img {
  width: 100%;
}
.github-card:hover {
  scale: 2;
  opacity: .9;

}

.github-card {
  display: block;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin: 10px;
  color: #555;
  text-decoration: none;
  flex: 1;
  min-width: 500px;
}
